<!DOCTYPE html>
<html>
  <head>
    <title>express-app</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>express-app</h1>
    <p>Welcome to express-app</p>
  </body>
</html>